In [1]:
import pandas as pd
from sqlalchemy import create_engine, Column, String, Integer
from sqlalchemy.orm import declarative_base, sessionmaker


#df = pd.read_excel("C:\Projetos\Data_Science\Projetos_Data_Science\Online_Retail\Online_Retail.xlsx", sheet_name='Online Retail',engine='openpyxl')
# df.to_csv("C:/Projetos/Data_Science/Projetos_Data_Science/Online_Retail/Online_Retail_at.csv", index=False, encoding='utf-8')


df = pd.read_csv("C:/Projetos/Data_Science/Projetos_Data_Science/Online_Retail/Online_Retail_at.csv", encoding='utf-8')
display(df.head())
df.info()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [2]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [4]:
df.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [2]:
df = df.astype(str)

In [3]:
DATABASE_URL = "postgresql://postgres:123456@localhost:5432/online_retail"
engine = create_engine(DATABASE_URL)
Base = declarative_base()

In [4]:
class OnlineRetail(Base):
    __tablename__ = 'online_retail'
    __table_args__ = {'extend_existing': True}
    id = Column(Integer, primary_key=True)
    invoiceno = Column(String, nullable=True)
    stockcode = Column(String, nullable=True)    
    description = Column(String, nullable=True)
    quantity = Column(String, nullable=True)
    invoicedate = Column(String, nullable=True)
    unitprice = Column(String, nullable=True)
    customerid = Column(String, nullable=True)
    country = Column(String, nullable=True)

In [5]:
Base.metadata.create_all(engine)

Session = sessionmaker(bind=engine)
session = Session()

session.query(OnlineRetail).delete()


values = [
    OnlineRetail(
        invoiceno=row['InvoiceNo'],
        stockcode=row['StockCode'],
        description=row['Description'],
        quantity=row['Quantity'],
        invoicedate=row['InvoiceDate'],
        unitprice=row['UnitPrice'],
        customerid=row['CustomerID'],
        country=row['Country']
    )
    for index, row in df.iterrows()
]


session.add_all(values)
rows_added = len(values)

try:
    session.commit()  # Confirma a transação
    print(f"{rows_added} linhas foram adicionadas.")
except Exception as e:
    print(f"Erro ao inserir dados: {e}")
    session.rollback()  # Desfaz a transação em caso de erro
finally:
    session.close()  # Fecha a sessão

541909 linhas foram adicionadas.